body {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
}

.box {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 5em auto;
    padding: 2em;
    width: 70%;
    text-align: center;
    
}

button {
    padding: 1em;
    margin: 1em;
    outline: none;
    border-radius: 5px;
    border: none;
}
